// Footer

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 0 80px 0;
  z-index: 3;

  &__nav {
    padding: 0 60px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .back {
      position: relative;

      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      background: rgba(0, 71, 143, 0.15);
      min-height: 30px;
      min-width: 40px;
      border-radius: 99px;
      padding: 12px 24px 12px 40px;

      font-size: 14px;

      &:hover {
        color: #fff !important;
        background: rgba(0, 71, 143, 1);
      }

      &::before {
        content: "";
        position: absolute;
        left: 20px;
        top: 50%;
        transform: rotate(180deg) translateY(calc(50% + 2px));
        width: 12px;
        height: 10px;
      }
    }

    .lang {
      position: relative;
      padding: 0 35px 0 0;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: -2px;
        width: 24px;
        height: 16px;
        background: url("../img/flags/SPA.svg") no-repeat;
        background-size: contain;
      }
    }
    .lang--en {
      &::after {
        width: 27px;
        background: url("../img/flags/ENG.svg") no-repeat;
      }
    }
  }
}
.theme-dark .footer__nav .back {
  background: rgba(136, 209, 255, 0.2);

  &:hover {
    color: rgba(0, 71, 143, 1) !important;
    background: rgba(136, 209, 255, 1);
  }
}
